<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CDRNetsapian.Properties.Settings.CallReportingConnectionString" connectionString="Data Source=tips-6z6gyn1;Initial Catalog=CallReporting;User ID=Paul;Password=tips" providerName="System.Data.SqlClient" />
    <add name="CallReportingEntities" connectionString="metadata=res://*/CallReport.csdl|res://*/CallReport.ssdl|res://*/CallReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tips-6z6gyn1;initial catalog=CallReporting;user id=Paul;password=tips;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallReportingEntities1" connectionString="metadata=res://*/CallReporting.csdl|res://*/CallReporting.ssdl|res://*/CallReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tips-6z6gyn1;initial catalog=CallReporting;user id=Paul;password=tips;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallReportingEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tips-6z6gyn1;initial catalog=CallReporting;user id=Paul;password=tips;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>